.dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .125rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border: 0;
    will-change: transform,opacity;
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
    padding: .5rem 0;
    left: -128px;
    display: block;
    transform: scale(1);
    transform-origin: 100% 0;
    margin: 0;
}