body {
    background: #800000;
}



.page-container {
    margin-top: 75px;
}

/* MY EDITS FOR THE CSS */

.navImg {
    padding-top:0px;
    max-width: 25px;
    max-height: auto;
}

button {
    padding: 6vw;
    border: 0px;
    margin:0px;
    font-size: 1.25vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #800000;
    color: white;
    height:8vh;
}

.links-row {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin: auto;
} 

.linksImg {
    max-width: 250px;
    max-height: auto;
    min-width: 250px;
    min-height: auto;
}

#signoutrect {
    background-color: #fff;
    line-height: 100px;
    text-align: center;
    color: white;
    width: 25vw;
    /* margin: 20px; */
}

#signoutButton {
    background-color: #ddd;
    color: black;
    width: 12.5vw;
}

h2{
    color:white;
}

.card{
    margin-right:20px;
    /* margin-left:10px; */
    /* margin-inline-end: 30px; */
    margin-top: 20px;
    border-radius: 1.5rem;
    /* margin-bottom: 10px; */
}

.card-title{
    display:flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}