body {
    background: #800000;
}

button {
    padding: 6vw;
    border: 0px;
    margin:0px;
    font-size: 1.25vw;
}

.my-row {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin: auto;
} 

#signoutrect {
    background-color: #fff;
    line-height: 100px;
    text-align: center;
    color: white;
    width: 100vw;
    /* margin: 20px; */
}

#signoutButton {
    background-color: #ddd;
    color: black;
    width: 200px;
    height:50px;
    font-size:1.5em;
}   

.homeButtons {
    background-color: #ddd;
    color: black;
    width: 200px;
    height:200px;
    font-size:1.5em;
    margin-left: auto;
    margin-right: auto;
}   

/* images that appear on the homepage */

.homeImg {
    padding-top:0px;
    max-width: 100px;
    max-height: auto;
}


@media (max-width: 576px) { 
    
    .homeButtons {
        background-color: #ddd;
        color: black;
        width: 150px;
        height:150px;
        font-size:1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    
    h2{
        font-size: 20px;
    }
  }

