.page-container {
  overflow-y: scroll;
  height: 90vh;
  /* need a height in order for overflow-y to work */
}

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 100vw;
  top:5vh;
  margin: 0px;
  background: #800000;
  padding:0px;
  color: #495057;


  /* z-index: 999; */
}


.scheduleButton {
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-width: 6vh;
  height: 9px;
  font-size: 0px;
  border-left: 1px black solid;
  background: #ddd;
  border-top: 1px black dotted;
}

.redsquare {
  display: flex;
  background: green;
  border: 1px solid #999;
  color: white;
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square {
  display: flex;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}

.row > .time {
  color: #495057;
  margin-right:20px;
  overflow: no;
}

.day {
  font-size: 30px;
  padding-left: 0px;
  padding-right: 5px;
  min-width: 55px;
  text-align: center;
}

@media (max-width: 576px) { 
  /* code only exists if the condition is met */
  .scheduleButton {
    min-width: 9vw;
    height: 6vh;
  }
  .day {
    font-size: 12.5px;
    min-width: 15px;
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
  
}

.flex-rectangle {
  margin-bottom:150px;
}