.container {
    color: white;
    z-index: 999;
  }

h1 {
    margin-bottom: 0px;
}

h4, h1{
    text-align:center;
}

h3{
    text-align:center;
}
#scheduleButtons{
    /* margin-left: 100px; */
    /* margin-left:1.5rem; */
    
    justify-content: center;
}
#saveScheduleButton, #clearScheduleButton {
    text-align: center;
    padding: 3vh ;
    margin: auto 5vh;
    font-size: 30px;
    background-color: white;
    color: #880000;
    /* margin-left: 30px; */
    
}

.row > .time {
    color: white;
  }

.App {
    color: white;
    /* position: fixed; */
    /* z-index trumps order in the html */
    z-index: 999;
}
#teamListContainer {
    color:#5a6268;
    margin-bottom:20vh;
}

.modal-backdrop {
    z-index: -1;
  }

#teamDelete{
    color:#880000
}

#newEventButton{
    background-color:white;
    color: #880000;
    position:fixed;
    bottom: 10px;
    right: 20px;
}

button #newEventButton{
    color:white;
}

@media (max-width: 576px) { 
    #saveScheduleButton, #clearScheduleButton {
      text-align: center;
      padding: 3vh ;
      margin: auto 5vh;  
      font-size: 15px;
    }
    .scheduleButton {
        min-width: 37.5px;
        height: 6vh;
      }
      .day {
        font-size: 15px;
        min-width: 22.5px;
        padding-left: 6.5px;
        padding-right: 5.5px;
      }
}
  
 

 